/*---var---*/
:root {
  --basic-color: #ffffff;
  --primary-color: #e69500;
  --dark-color: #000000;
  --light-color: #f2f2f2;
  --gray-color: #808080;
  --danger-color: #dc3545;
  --success-color: #4a28a7;
}

/*---BASICS---*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Assistant', sans-serif;
}
/*----HEADER----*/
.header-nav {
  width: 100%;
}
.top-black {
  width: 100%;
  background-color: var(--dark-color);
}

.navbar {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
}

.topnav {
  display: flex;
  list-style: none;
  width: 320px;
  justify-content: space-between;
}

.topnav .nav-link {
  text-decoration: none;
  color: var(--basic-color);
}

.topnav .nav-link:hover {
  color: var(--primary-color);
}

.private .private-link {
  text-decoration: none;
  color: var(--basic-color);
  margin-right: 10px;
}

.private .private-link:hover {
  color: var(--primary-color);
}

.register a {
}

.dropdownLink {
  display: none;
}

.header-down {
  background-color: var(--basic-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1070px;
  margin: 5px auto;
  min-height: 120px;
  flex-wrap: wrap;
}

.top-logo-menu {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.logo-rexi {
  height: 100px;
  margin-left: 10px;
}

.search {
  display: flex;
  align-items: flex-end;
}

.menu-top {
  display: flex;
  list-style: none;
}

.menu-link {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-link a {
  text-decoration: none;
  color: var(--gray-color);
}

.menu-link:hover {
  color: var(--primary-color);
}

.menu-line {
  color: var(--gray-color);
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-box {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #e6e6e6;
  border-bottom-width: 2px;

  height: 25px;
}

.search-img {
  height: 18px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .topnav {
    max-width: 100px;
  }

  ul.topnav li a.nav-link {
    display: none;
  }

  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    color: var(--basic-color);
  }

  ul.topnav.responsive {
    flex-direction: column;
  }

  ul.topnav.responsive li a {
    display: block;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 10px;
    right: 5px;
    padding-bottom: 5px;
  }

  ul.topnav.responsive li.dropdownLink {
    position: absolute;
    top: 2px;
    right: 5px;
  }

  .dropdown-link {
    color: var(--basic-color);
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 680px) {
  .top-logo-menu,
  .header-down {
    justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .top-logo-menu,
  .header-down {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .top-logo-menu,
  .header-down {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .top-logo-menu,
  .header-down {
    justify-content: center;
  }
}
